---
import { Icon } from "astro-icon/components";

interface Props {
    icon: string;
    name: string;
}

const { icon, name } = Astro.props;
---

<div
    class="flex items-center gap-2 p-2 text-sm rounded-lg bg-slate-200/50 dark:bg-slate-800/50 ring-1 ring-slate-200 dark:ring-slate-800/50 hover:bg-slate-300/50 dark:hover:bg-slate-700/50 transition-colors select-none"
>
    <Icon name={icon} class="w-5 h-5 shrink-0" />
    <span>{name}</span>
</div>
