---
import ExperienceItem from "./ExperienceItem.astro";
import { getLangFromUrl } from "../i18n/utils";
import { getCollection } from "astro:content";

import { TAGS } from "../data/tags";

const lang = getLangFromUrl(Astro.url);
const experienceEntries = await getCollection("experience", ({ id }) => {
  return id.startsWith(`${lang}/`);
});

const EXPERIENCE = experienceEntries
  .map((entry) => ({
    ...entry.data,
    technologies: (entry.data.technologies ?? []) as (keyof typeof TAGS)[],
    description: entry.body.split("\n").filter((line) => line.trim() !== ""),
  }))
  .reverse();
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="group">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
