---
import { Icon } from "astro-icon/components"
import Badge from "./Badge.astro"
import SocialPill from "./SocialPill.astro"
import { Image } from "astro:assets"

const personalImageAlt = "Francesc Miquel Obrador Artigues"
---
<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <Image
      height="32"
      width="32"
      class="rounded-full shadow-lg size-32"
      src="https://avatars.githubusercontent.com/u/43440273?v=4"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/francesc-obrador"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Open to work</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, I'm Francesc
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-500 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
  <strong>3 years of experience</strong> as a Software Developer. Graduated in Interactive Digital Content Development from Barcelona's University. 
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="https://www.linkedin.com/in/francesc-obrador/">
      <Icon name="social/linkedin" class="size-6"/>
      LinkedIn
  </SocialPill>
  <SocialPill href="https://github.com/FrancescObrador">
    <Icon name="social/github" class="size-6"/>
    GitHub
  </SocialPill>
  <SocialPill href="/documents/cv.pdf">
    <Icon name="items/cv" class="size-6"/>
    cv
  </SocialPill>
  <SocialPill href="mailto:obrador.francesc@gmail.com">
    <Icon name="items/mail" class="size-6"/>
    obrador.francesc@gmail.com
  </SocialPill>
  </nav>
</div>