---
import { getLangFromUrl } from "../i18n/utils";
import { getCollection } from "astro:content";
import ProjectCard from "./ProjectCard.astro";

const lang = getLangFromUrl(Astro.url);
const personalProjects = await getCollection("projects", ({ id, data }) => {
  return id.startsWith(`${lang}/`) && data.type === "personal";
});

const PROJECTS = personalProjects.map((project) => ({
  ...project.data,
  slug: project.slug,
}));
---

<div class="flex flex-col gap-y-16">
  {PROJECTS.map((project) => <ProjectCard {...project} />)}
</div>
